<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>backstudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>developer</param-name>
    <param-value>김민규</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Lifecycle</display-name>
    <servlet-name>Lifecycle</servlet-name>
    <servlet-class>control.Lifecycle</servlet-class>
    <init-param>
      <param-name>fileName</param-name>
      <param-value>a.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lifecycle</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>control.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Move</display-name>
    <servlet-name>Move</servlet-name>
    <servlet-class>control.Move</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Move</servlet-name>
    <url-pattern>/move</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListMVC</display-name>
    <servlet-name>ProductListMVC</servlet-name>
    <servlet-class>control.ProductListMVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListMVC</servlet-name>
    <url-pattern>/productlistmvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListView</display-name>
    <servlet-name>ProductListView</servlet-name>
    <servlet-class>view.ProductListView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListView</servlet-name>
    <url-pattern>/productlistview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListMC</display-name>
    <servlet-name>ProductListMC</servlet-name>
    <servlet-class>control.ProductListMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListMC</servlet-name>
    <url-pattern>/productlistmc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest</display-name>
    <servlet-name>CookieTest</servlet-name>
    <servlet-class>control.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest</servlet-name>
    <url-pattern>/cookietest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest</display-name>
    <servlet-name>SessionTest</servlet-name>
    <servlet-class>control.SessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest</servlet-name>
    <url-pattern>/sessiontest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest2</display-name>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>control.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/sessiontest2</url-pattern>
  </servlet-mapping>
</web-app>