<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.customer.mapper.ProductMapper">
<select id="selectByProdNo" parameterType="string" resultType="Product">
SELECT * FROM product WHERE prod_no= #{prodNo}
</select>
<select id="selectAll" parameterType="map" resultType="Product">
SELECT * FROM 
(SELECT rownum rn, a.* 
FROM (SELECT * FROM product ORDER BY prod_no ASC) a)
WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>
<select id="count" resultType="int">
SELECT COUNT(*) FROM product
</select>
</mapper>